**/__pycache__
**/__conda*
*egg-info*
/reports
/daily.p
/test_output
/test_output_images

/seaice/tools/*.xls
/seaice/tools/*.xlsx
/seaice/tools/validation

/seaice/images/profiling
/seaice/images/sample_images/*
/seaice/images/test/test_smoke/smoke_test.html
/seaice/images/test-out
/seaice/images/test/test_smoke/sample_images

/seaice/shapefiles/inv_output/

/sedna/test*.csv
